*{
    margin: 0px;
    padding:0px;
}

.nav-item a:hover{
    color:whitesmoke!important;
    font-weight: bold;
}
.contact{
    padding-right: 0px;
    padding-left:0px;
    margin-top: 7%;
}
.contact h1{
    text-align: center;
    margin-bottom: 40px;
    color:black;
    
}
.contact h2{
    color:skyblue;
}
.contact p{
    margin-bottom: 40px;
}