*{
    margin: 0px;
    padding:0px;
    }
    .service{
        margin-top: 5.7%;
    }
    .service h2{
    font-size: 30px;
    font-weight: 800;
    color: #8ebf42;
    font-family: sans-serif;
    background-color: black;
    }
    .nav-item a:hover{
        color:whitesmoke!important;
        font-weight: bold;
    }
    .pricing{
    widows: 100%;
    height: auto;
    padding:50px;
    position: relative;

    
    
}
.pricing:before{
    content:"";
    position: absolute;
    top:0%;
    bottom:0%;
    left:0;
    right:0;
    z-index: -1;
    background:linear-gradient(170deg, #16c9f6 100%, #fff 0%);
}
.card{
    margin-bottom: 10px;
    transition: 0.4s easy;
}
.money{
    font-size: 40px;
    line-height: 1;
    color:#606060;
}

    

.card-header{
    font-size: 1.6rem;
    font-weight: bold;
    background: #fff !important;
    padding:25px 9 !important;
}
.card-body{
    padding: 30px 0px !important;
}
.card-body li{
    margin:10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6rem;
    color: #606060;


}


 .card:hover  {
        color:#50d1c0;
        background: #fff;
        text-decoration: none;
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);       
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);  
}
.card:hover .card-header, .card:hover .money{
    color:#50d1c0;

}
.footer-div{
    text-align: center;
    background-color: black;
    text-decoration: none;
    color:white;
    
}








